{{- if .Site.Params.post_navigation }}
{{- if or .PrevInSection .NextInSection }}
<nav class="pager" aria-label="Article navigation">
  {{- with .PrevInSection }}
  <div class="pager__item pager__item--prev">
    <a class="pager__link" href="{{ .RelPermalink }}" rel="prev">
      <span class="pager__subtitle">Previous</span>
      <p class="pager__title">{{ .Title }}</p>
    </a>
  </div>
  {{- end }}
  {{- with .NextInSection }}
  <div class="pager__item pager__item--next">
    <a class="pager__link" href="{{ .RelPermalink }}" rel="next">
      <span class="pager__subtitle">Next</span>
      <p class="pager__title">{{ .Title }}</p>
    </a>
  </div>
  {{- end }}
</nav>
{{- end }}
{{- end }}
